<template>
	<article id="page">
		<slider-comp ref="slider" v-if="$store.getters.currentPost.medias || $store.getters.currentPost.image.fields"></slider-comp>
		<h1>{{ post.title }}</h1>
		<ul class="categories">
			<li class="category" v-for="(category, index) in post.categories">{{ category }}<template v-if="index < post.categories.length - 1">, </template></li>
		</ul>
		<div v-html="post.body" class="body"></div>
		<div class="footer">
			<div class="top">
				<div class="left">
					<div class="date">{{ new Date(post.date).getFullYear() + '.' + ('0' + new Date(post.date).getMonth()).slice(-2) + '.' + ('0' + new Date(post.date).getDate()).slice(-2) }}</div>
					<div class="tags" v-if="post.tags">
						<span>Tags</span>
						<template v-for="(tag, index) in post.tags">
							<span><nuxt-link :to="{ name: 'tags-tag', params: { tag: tag.fields.name }}">{{ tag.fields.name }}</nuxt-link></span>
							<span class="comma" v-if="index < post.tags.length - 1">,</span>
						</template>
					</div>
				</div>
				<div class="right">
					<socials-comp share="true"></socials-comp>
				</div>
			</div>
			<div class="bottom">
				<div class="survey">
					<div v-if="post.footerLink" v-html="post.footerLink"></div>
				</div>
				<div class="products">
					<a :href="product.fields.url" target="_blank" v-for="product in post.products" class="product" :style="{background: product.fields.color}">
						<span class="product--name">{{ product.fields.name }}</span>
					</a>
				</div>
			</div>
		</div>

		<blogOverview-comp ref="blogOverview" v-if="$store.getters.relatedPosts.length"></blogOverview-comp>

		<div class="cta">
			<div class="edito">
				<h3>I wonder & dream</h3>
				<span>Is an initiative of IWD providing expert content for retail & merchandising</span>
			</div>
			<ul class="products">
				<li class="product" v-for="(product, index) in $store.getters.products">
					<a :href="product.url" target="_blank" class="name" :style="{backgroundColor: product.color}" @mouseenter="productColorSwitch(index)" @mouseleave="productColorReset(index)" ref="productCTA">
						<span class="product--name">{{ product.name }}</span>
					</a>
					<div class="details">
						<div class="subtitle">
							{{ product.subtitle }}
						</div>
						<p class="description" v-html="product.description"></p>
					</div>
				</li>
			</ul>
		</div>
	</article>
</template>

<script>

import 'gsap';

import mainLogo from '~assets/svg/mainLogo.svg';

import Slider from '~components/Slider';

import Socials from '~components/Socials';

import BlogOverview from '~components/BlogOverview';

import { getAll } from '../../core/Contentful';

export default {

	async fetch({store, params}) {
		if(!store.getters.loaded) {
			await getAll(store);
		} else {
			await new Promise(resolve => {
				resolve(true);
			});
		}

		store.dispatch('setCurrentPost', '/' + params.name);
		store.dispatch('resetCurrentPosts');

		store.dispatch('loadMoreCurrentPosts');
	},

	head() {
		return {
			title: this.post.title + ' - IW&D',
			meta: [
				{hid: 'description', name: 'description', content: this.post.excerpt}
			]
		};
	},

	name: 'page',

	data() {
		return {
			mainLogo: mainLogo,
			productAnims: []
		};
	},

	computed: {
		post: function() { return this.$store.getters.currentPost; },
		date: function() { return new Date(this.post.date); }
	},

	watch: {
		'$route': function() {
			this.$refs.blogOverview.slideTo(0);
			this.$refs.blogOverview.hideSlides(0);
			this.$refs.blogOverview.showSlide();
		}
	},

	mounted() {
		this.$refs.productCTA.forEach((p, index) => {
			this.productAnims[index] = new TimelineLite({paused: true});
			this.productAnims[index].to(p, 0.2, {
				backgroundColor: 'white'
			})
			.to(p.querySelector('span'), 0.2, {
				color: this.$store.getters.products[index].color
			}, 0);
		});
	},

	methods: {
		productColorSwitch(index) {
			this.productAnims[index].play();
		},

		productColorReset(index) {
			this.productAnims[index].reverse();
		}
	},

	components: {
		'slider-comp': Slider,
		'socials-comp': Socials,
		'blogOverview-comp': BlogOverview
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	#page {
		width: 100%;
		height: 100%;
		position: relative;
		margin-top: $margin * 2;
		margin-bottom: $margin * 2;
		text-align: center;

		@media screen and (max-width: 415px) {
			margin-top: $margin;
			margin-bottom: $margin;
		}

		h1 {
			letter-spacing: $heading-letter-spacing-sm;
			position: relative;
			padding: $margin 0;

			@media screen and (max-width: 415px) {
				margin-top: 0;
				margin-bottom: 0;
			}

			font-size: 2.5em;
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				width: 3rem;
				border-bottom: 2px black solid;
			}
		}

		.categories {
			margin: $margin;

			@media screen and (max-width: 415px) {
				margin: $margin/2;
			}
			.category {
				display: inline;
			}
		}

		.body {
			padding: 0 $margin;
			margin: 0 auto;
			max-width: 80rem;
			text-align: left;


			@media screen and (max-width: 415px) {
				font-size: 1.2rem;
			}

			@media screen and (max-width: 415px) {
				overflow-x: hidden;
			}

			iframe {
				display: block;
				margin: auto;
				margin-bottom: $margin;
				max-width: 100%;
			}
			img {
				max-width: 100%;
			}
			p {
				font-family: 'Avenir';
				@media screen and (max-width: 321px) {
					font-size: 1rem;
				}
			}

			h2 {
				font-size: 3rem;
				letter-spacing: $heading-letter-spacing-sm;
				hyphens: auto;

				@media screen and (max-width: 415px) {
					font-size: 2.2rem;
				}

				@media screen and (max-width: 321px) {
					font-size: 1.8rem;
				}
			}

			h3 {
				font-size: 2rem;
				@media screen and (max-width: 321px) {
					font-size: 1.3rem;
				}
			}

			h4 {
				font-size: 1.6rem;
				letter-spacing: $heading-letter-spacing-sm;
				font-weight: 500;

				@media screen and (max-width: 415px) {
					font-size: 1.3rem;
				}

				@media screen and (max-width: 321px) {
					font-size: 1.1rem;
					font-weight: 300;
				}
			}
		}

		.footer {
			margin: auto;
			text-align: center;
			width: $article-width;
			@media screen and (max-width: $article-body-maxwidth) {
				width: 100%;
				padding-left: $margin;
				padding-right: $margin;
			}

			.socials {
				font-size: 0.9em;
			}

			.top {
				padding: $margin 0 $margin/2 0;
				width: 100%;
				display: flex;

				justify-content: space-between;
				border-bottom: $grey solid 2px;

				@media screen and (max-width: 415px) {
					flex-wrap: wrap;
					padding-top: $margin / 2;
					font-size: 1.2em;
				}

				.left {

					@media screen and (max-width: 415px) {
						text-align: left;
					}

					.date {
						position: relative;
						padding-right: $margin/2;
						display: inline-block;
						@media screen and (max-width: 415px) {
							margin: 1em 0;
						}

					}

					.tags {
						display: inline-block;
						padding-left: $margin/2;
						position: relative;
						&:before {
							content: '';
							position: absolute;
							top: 50%;
							right: 100%;
							border-left: $grey solid 2px;
							height: 110%;
							transform: translateY(-50%);
							@media screen and (max-width: 415px) {
								height: 100%;
								transform: translateY(calc(-50% - 0.6em));
							}
						}

						@media screen and (max-width: 415px) {
							margin: $margin 0;
						}

						span {
							margin-left: 0.8em;
							display: inline-block;

							@media screen and (max-width: 415px) {
								margin-bottom: $margin/2;
								margin-left: 0.2em;
								margin-right: 0.1em;
							}
							a {
								border-bottom: solid $black 2px;
							}
							&.comma {
								margin-left: 0.8em;
								@media screen and (max-width: 415px) {
									margin-left: 0em;
									margin-right: 0em;
								}
							}
						}
					}
				}
			}

			.bottom {
				padding: $margin/2 0 $margin 0;
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;

				@media screen and (max-width: 415px) {
					flex-wrap: wrap;
				}

				.survey {
					font-weight: 500;
					div {
						padding: 0.8em 1em;
						background-color: #E5E6E5;
					}
					@media screen and (max-width: 415px) {
						width: 100%;
						font-size: 1.6em;
						border-bottom: $grey solid 2px;
						margin-bottom: 0.6em;
					}
				}

				.products {
					@media screen and (max-width: 415px) {
						text-align: center;
						width: 100%;
					}
					.product {
						color: white;
						font-weight: 500;
						padding: 0.5em;
						padding-left: 0.8em;
						letter-spacing: $heading-letter-spacing-lg;
						margin: auto 0.5em;

						@media screen and (min-width: 415px) {
							&:last-child {
								margin-right: 0;
							}
						}

						@media screen and (max-width: 415px) {
							font-size: 2em;
							margin-top: 1em;
							display: inline-block;
						}
						span {
							display: inline-block;
							transform: translateX(0.05em);
						}
					}
				}
			}
		}

		.cta {

			.edito {
				font-size: 1.2rem;

				margin: $margin * 2 auto;

				@media screen and (max-width: 415px) {
					font-size: 1rem;
					margin: $margin/2 $margin/2 $margin $margin/2;
				}

				h3 {
					font-size: 2.1em;
					margin: 0 auto;
				}
				span {
					margin: auto;
					display: block;
					letter-spacing: $heading-letter-spacing-sm;
					max-width: 35em;
					line-height: 1.5em;
				}
			}

			.products {
				margin: auto;
				display: flex;
				width: calc(100% - #{$margin * 2});
				justify-content: space-between;

				@media screen and (max-width: 415px) {
					flex-wrap: wrap;
				}
				.product {
					display: block;
					width: calc(100%/3 - #{$margin * 2}/3);
					border-bottom: solid 2px $black;

					@media screen and (max-width: 415px) {
						width: calc(100%);
						border-bottom: none;
					}

					.name {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 3vw;
						font-weight: 700;
						color: white;
						letter-spacing: $heading-letter-spacing-sm;
						height: 19vw;

						@media screen and (max-width: 415px) {
							height: 50vw;
							font-size: 8vw;
						}
						span {
							transform: translateX(0.15em);
						}
					}

					.subtitle {
						letter-spacing: $heading-letter-spacing-sm;
						font-weight: 600;
						margin: 1em auto;
						font-size: 1.5em;
					}
					.description {
						margin-top: 0;

						@media screen and (max-width: 415px) {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}

</style>
