<template>
	<div class="aboutOverlay overlay">
		<div class="top" v-html="CloseButton" @click="close"></div>
		<div class="wrapper">
			<div class="body" v-html="about.body">
			</div>
		</div>
	</div>
</template>

<script>

import 'gsap';
import CloseButton from '~assets/svg/closeButton.svg';

export default {

	data() {
		return {
			CloseButton: CloseButton
		};
	},

	computed: {
		about: function() {
			return this.$store.getters.about;
		}
	},

	created() {
	},

	mounted() {
	},

	methods: {
		close() {
			this.$parent.closeAbout();
		}
	},

	components: {
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.aboutOverlay {
		display: none;
		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			.body {
				max-width: 50rem;
			}
		}
	}

</style>
