<template>
	<div class="blogOverview">
		<div class="wrapper">
			<h3>Related articles</h3>
			<div class="sliderWrapper">
				<div :class="['previous', 'arrow', currentSlide > 0 ? '': 'hidden']" v-html="arrow" @click="slideTo(currentSlide - 1)"></div>
				<div class="slider" ref="slider">
					<div class="frame">
						<ul class="slides">
							<li v-for="post in $store.getters.relatedPosts">
								<div class="content">									
									<img v-if="post.image.fields" ref="postImage" :src="post.image.fields.file.url"> 
									<div class="info">
										<h4 ref="postTitle">{{ post.title }}</h4>
										<p ref="postExcerpt">{{ post.excerpt }}</p>
										<a ref="postLink" target="_blank" @click.stop="routeChange(post.slug)">Read more</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>	
				<div :class="['next', 'arrow', currentSlide < posts.length - 1 ? '': 'hidden']" v-html="arrow" @click="slideTo(currentSlide + 1)"></div>
			</div>		
		</div>
	</div>
</template>

<script>

import 'gsap';

import arrow from '~assets/svg/SliderArrow.svg';

export default {

	name: 'blogOverview',

	data() {
		return {
			currentSlide: 0,
			arrow: arrow,
			showTl: new TimelineLite({paused: true})
		};
	},

	computed: {
		'posts': function() {
			return this.$store.getters.relatedPosts;
		}
	},

	watch: {
		'posts': function(val) {
			this.$nextTick(this.setupSlider);
		}
	},

	mounted() {
		this.setupSlider();
	},

	methods: {
		setupSlider() {
			if(this.posts.length) {
				const lory = require('lory.js').lory;
				this.$refs.slider.addEventListener('after.lory.slide', this.afterSlide);
				this.$refs.slider.addEventListener('before.lory.slide', this.beforeSlide);
				this.slider = lory(this.$refs.slider, {
					classNameFrame: 'frame',
					classNameSlideContainer: 'slides',
					enableMouseEvents: true,
					infinite: 0
				});

				this.hideSlides(0);
				this.showSlide();
			}
		},

		beforeSlide(e) {
			this.hideSlides(0.2);
		},

		afterSlide(e) {
			this.currentSlide = e.detail.currentSlide;
		},

		hideSlides(time) {
			const tl = new TimelineLite({
				paused: true,
				onComplete: () => {
					if(!this._isBeingDestroyed) {
						this.showSlide();
					}
				}
			});
			tl.to(this.$refs.postLink, time, {
				y: -10,
				opacity: 0
			}, '-=' + time / 2)
			.to(this.$refs.postExcerpt, time, {
				y: -35,
				opacity: 0
			}, '-=' + time / 2)
			.to(this.$refs.postTitle, time, {
				y: -50,
				opacity: 0
			}, '-=' + time / 2)
			.to(this.$refs.postImage, time, {
				webkitFilter: 'grayscale(1)',
				filter: 'grayscale(1)'
			}, 0);
			tl.play();
		},

		showSlide() {
			this.showTl.to(this.$refs.postTitle[this.currentSlide], 0.5, {
				y: 0,
				opacity: 1,
				ease: Power4.easeOut
			}, '-=0.3')
			.to(this.$refs.postExcerpt[this.currentSlide], 0.5, {
				y: 0,
				opacity: 1,
				ease: Power4.easeOut
			}, '-=0.3')
			.to(this.$refs.postLink[this.currentSlide], 0.3, {
				opacity: 1,
				ease: Power4.easeOut
			}, '-=0.45')
			.to(this.$refs.postLink[this.currentSlide], 0.3, {
				y: 0,
				ease: Power4.easeOut
			}, '-=0.75')
			.to(this.$refs.postImage[this.currentSlide], 1.5, {
				webkitFilter: 'grayscale(0)',
				filter: 'grayscale(0)',
				scale: 1,
				ease: Power4.easeOut
			}, '0.2')
			.set(this.$refs.postLink[this.currentSlide], {
				clearProps: 'transform'
			});
			this.showTl.play();
		},

		slideTo(i) {
			if(this.posts[i]) {
				this.slider.slideTo(i);
			}
		},

		routeChange(slug) {
			this.$router.push({name: 'post-name', params: {name: slug}});
		}
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.blogOverview {
		padding: $margin *2;

		@media screen and (max-width: 414px) {
			padding: $margin/2 $margin/4 ;
		}
		.wrapper {
			height: 100%;
			width: 100%;
			border-top: solid 3px $black;
			border-bottom: solid 3px $black;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: $margin;

			@media screen and (max-width: 414px) {
				padding-top: $margin/2;
				padding-bottom: $margin/2;
			}

			.sliderWrapper {
				display: flex;
				margin: $margin;
				$sideWidth: 15%;
				overflow: hidden;

				@media screen and (max-width: 415px) {
					margin-top: 0;
					margin-bottom: 0;
				}

				.arrow {
					width: $sideWidth;

					@media screen and (max-width: 415px) {
						display: none;
					}
					
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all 0.2s;
					cursor: pointer;
					&.hidden {
						opacity: 0;
						pointer-events: none;
					}
					&.hidden.previous {
						svg {
							transform: translateX(-10%);
						}
					}
					&.hidden.next {
						svg {
							transform: translateX(10%);
						}
					}
					svg {
						width: 1.5rem;
						transform: scale(0.85);
						transition: all 0.2s;
						&:hover {
							transform: scale(1);
						}
						* {
							stroke: $black;
							fill: $black;
						}
					}
					&.next {
						svg {
							transform: scale(0.85) rotate(180deg);

							&:hover {
								transform: scale(1) rotate(180deg);
							}
						}
					}
				}
				.slider {
					width: 100% - 2 * $sideWidth;

					@media screen and (max-width: 415px) {
						width: 100%;
					}

					.frame {
						position: relative;
						font-size: 0;
						line-height: 0;
						overflow: hidden;
						white-space: nowrap;
						width: 100%;
						.slides {
							display: inline-block;
							overflow: visible;
							width: 100%;
							li {
								position: relative;
								display: inline-block;
								font-size: 1rem;
								opacity: 0;
								transition: opacity 0.1s;
								width: 100%;
								vertical-align: middle;
								
								.content {
									display: flex;
									align-items: center;
									width: 100%;
								}

								@media screen and (max-width: 415px) {
									flex-wrap: wrap;
								}

								&.active {
									opacity: 1;
								}
								img {
									width: 50%;
									display: inline-block;
									height: auto;
									vertical-align: top;
									user-select: none;

									@media screen and (max-width: 415px) {
										width: 100%;
									}
								}
								.info {
									width: 50%;
									height: 100%;
									display: inline-flex;
									flex-direction: column;
									justify-content: center;
									align-items: center;
									padding: $margin;

									@media screen and (max-width: 415px) {
										width: 100%;
										padding-left: 0;
										padding-right: 0;
									}

									h4 {
										font-size: 2em;
										font-weight: 500;
										letter-spacing: $heading-letter-spacing-sm;
										white-space: normal;
										line-height: 1.3em;
										margin: 0 $margin;
										width: 100%;

										@media screen and (max-width: 1500px) {
											font-size: 1.6em;
										}

										@media screen and (max-width: 1300px) {
											font-size: 1.4em;
										}

										@media screen and (max-width: 1100px) {
											font-size: 1.2em;
										}

										@media screen and (max-width: 900px) {
											font-size: 1.1em;
										}

										@media screen and (max-width: 415px) {
											font-size: 1.3em;
										}

									}
									p {
										white-space: normal;
										font-family: 'Avenir';
										width: 100%;
									}
									a {
										display: block;
										position: relative;
										overflow: hidden;
										font-size: 0.75em;
										font-family: 'Novecento';
										padding: $margin/2 $margin;
										font-weight: 500;
										border: solid 1px $black;
										transition: all 0.4s;
										user-select: none;
										cursor: pointer;
										&:hover {
											color: white;
											background-color: $black;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

</style>
