<template>
	<footer>
		<div class="bottom">
			<span class="copyright">2017 © Copyright <strong>I wonder and dream</strong></span>
			<socials-comp></socials-comp>
			<a href="http://spill.net" target="_blank" class="spill">Site by Spill.net</a>
		</div>
	</footer>
</template>

<script>

import Socials from '~components/Socials';

export default {

	components: {
		'socials-comp': Socials
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	footer {
		border-top: solid $grey 1px;
		
		.bg {
			overflow: hidden;
		}

		.bottom {
			display: block;
			position: relative;
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: $margin;
			text-transform: uppercase;
			align-items: center;

			.socials {
				flex-grow: 1;
				text-align: center;
			}

			.socials, .spill, .copyright {
				width: 33%;
			}

			.spill {
				text-align: right;
			}

			@media screen and (max-width: 415px) {
				flex-wrap: wrap;
				justify-content: center;
				.socials, .spill, .copyright {
					text-align: center;
					width: 100%;
					margin-top: $margin/2;
					margin-bottom: $margin/2;
				}
			}
		}
	}

</style>
