<template>
	<div>
		<ul class="grid">
			<li v-for="post in displayedPosts" class="post" ref="posts">
				<nuxt-link class="img" v-if="post.image.fields" :style="{backgroundImage: 'url(' + post.image.fields.file.url +')'}" :to="{name: 'post-name', params:{ name: post.slug}}"></nuxt-link >
				<div class="date">{{ new Date(post.date).getFullYear() + '.' + ('0' + new Date(post.date).getMonth()).slice(-2) + '.' + ('0' + new Date(post.date).getDate()).slice(-2) }}</div>
				
				<nuxt-link :to="{name: 'post-name', params:{ name: post.slug}}"><h3 class="title">{{ post.title }}</h3></nuxt-link >
				<p class="excerpt" v-html="post.excerpt"></p>
			</li>
			<template v-if="displayedPosts.length % 3 != 0">
				<li class="spacer post 1"></li>
				<li v-if="(displayedPosts.length + 1) % 3 != 0" class="spacer post 2"></li>
			</template>
		</ul>
		<div class="showMore" v-if="posts.length < $store.getters.filteredPosts.length">
			<span @click="showMore($event)">Show more</span>
		</div>
	</div>
</template>

<script>

import 'gsap';

export default {

	data() {
		return {
			displayedPosts: [],
			showMoreFlag: false
		};
	},

	computed: {
		posts: function() {
			return this.$store.getters.currentPosts;
		}
	},

	watch: {
		'posts': function(newVal, oldVal) {
			if(this.$refs.posts && this.$refs.posts.length && !this.showMoreFlag) {
				TweenMax.staggerTo(this.$refs.posts, 0.3, {
					opacity: 0,
					onComplete: () => {
						this.showPosts(this.posts, newVal.length - oldVal.length);
					}
				}, 0.1);
			} else {
				this.showPosts(this.posts, newVal.length - oldVal.length);
			}
		}
	},

	created() {
		this.displayedPosts = this.posts;
	},

	mounted() {
		this.$nextTick(() => {
			if(this.$refs.posts) {
				TweenLite.set(this.$refs.posts, {
					opacity: 1
				});
			}
		});
	},

	methods: {
		showPosts(posts, number) {
			if(this.displayedPosts != posts) {
				this.displayedPosts = posts;
				this.$nextTick(() => {
					TweenMax.staggerFromTo(this.$refs.posts.slice(-number), 0.3, {
						opacity: 0
					}, {
						opacity: 1
					}, 0.1);
				});
			}
			this.showMoreFlag = false;
		},

		showMore(e) {
			e.preventDefault();
			this.showMoreFlag = true;
			this.$store.dispatch('loadMoreCurrentPosts');
		}
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

		.grid {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			.post {
				width: calc(100% / 3 - #{$margin * 2} / 3);
				margin: $margin 0;
				&:nth-child(3n-1) {
					margin-left: $margin;
					margin-right: $margin;
				}
				opacity: 1;
				
				.img {
					display: block;
					width: 100%;
					height: 20vw;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
				}

				.date {
					margin: $margin auto;
				}

				border-bottom: solid 2px $black;

				&.spacer {
					opacity: 0 !important;
				}

				@media screen and (max-width: 740px) {
					width: calc(100% / 2 - #{$margin} / 2);
					&.spacer {
						display: none;
					}
					.img {
						height: 30vw
					}

					&:nth-child(n) {
						margin-left: 0;
						margin-right: 0;
					}
					&:nth-child(2n) {
						margin-left: $margin/2;
					}
					&:nth-child(2n-1) {
						margin-right: $margin/2;
					}
				}

				@media screen and (max-width: 480px) {
					width: 100%;
					.img {
						height: 60vw;
					}

					&:first-child {
						margin-top: 0;
					}

					&:nth-child(n) {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}

		.showMore {
			margin: $margin * 2 auto;
			span {
				font-size: 1.4em;
				border-bottom: solid 2px $black;
				cursor: pointer;
			}
		}

</style>
