<template>
	<div class="headerContainer">
		<header ref="header">
			<div class="wrapper">
				<div class="left" ref="left">
					<span @click="openAbout">About</span>
				</div>
				<ul class="middle">
					<router-link tag="h2" :to="'/'"><a>I wonder & dream</a></router-link>
				</ul>
				<div class="right" ref="right">
					<span @click="openTags">Tags</span>
				</div>
			</div>
		</header>
		<aboutOverlay-comp ref="aboutOverlay"></aboutOverlay-comp>
		<tagsOverlay-comp ref="tagsOverlay"></tagsOverlay-comp>
	</div>
</template>

<script>

import menuLogo from '~assets/svg/menuLogo.svg';

import TagsOverlay from '~components/TagsOverlay';
import AboutOverlay from '~components/AboutOverlay';
import 'gsap';

export default {

	name: 'header',

	data() {
		return {
			menuLogo: menuLogo
		};
	},

	computed: {
	},

	created() {
		this.$store.watch(state => state.uiData.viewportSize, this.onResize);

		this.$router.afterEach(this.closeAll);
	},

	mounted() {
		this.tagsOverlayTL = new TimelineLite({
			paused: true,
			onComplete: () => {
				this.tagsOverlayTL.timeScale(2);
				document.body.classList.add('noscroll');
			},
			onReverseComplete: () => {
				this.tagsOverlayTL.timeScale(1);
				document.body.classList.remove('noscroll');
			}
		});

		this.tagsOverlayTL.to(this.$refs.tagsOverlay.$el, 0.3, {
			display: 'block',
			opacity: 1,
			scale: 1
		});

		this.aboutOverlayTL = new TimelineLite({
			paused: true,
			onComplete: () => {
				this.aboutOverlayTL.timeScale(2);
				document.body.classList.add('noscroll');
			},
			onReverseComplete: () => {
				this.aboutOverlayTL.timeScale(1);
				document.body.classList.remove('noscroll');
			}
		});

		this.aboutOverlayTL.to(this.$refs.aboutOverlay.$el, 0.3, {
			display: 'block',
			opacity: 1,
			scale: 1
		});
	},

	beforeDestroy() {
	},

	methods: {

		onResize(value) {
		},

		openAbout() {
			this.aboutOverlayTL.play();
		},

		closeAbout() {
			this.aboutOverlayTL.reverse();
		},

		openTags() {
			this.tagsOverlayTL.play();
		},

		closeTags() {
			this.tagsOverlayTL.reverse();
		},

		closeAll() {
			this.closeTags();
			this.closeAbout();
		}
	},

	components: {
		'tagsOverlay-comp': TagsOverlay,
		'aboutOverlay-comp': AboutOverlay
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.headerContainer {
		position: relative;
	}

	header {
		z-index: 1;
		.wrapper {
			width: 100%;
			position: relative;
			background: white;
			padding: $margin * 1.5 $margin;

			@media screen and (max-width: 415px) {
				padding: $margin / 2
			}

			display: flex !important;
			justify-content: space-between;
			align-items: center;
			z-index: 2;
		}
		margin-bottom: calc(#{$margin} * 1.5 + 0.7em);

		@media screen and (max-width: 415px) {
			margin-bottom: $margin / 2;
		}

		width: 100%;
		position: relative;

		&:after {
			position: absolute;
			display: inline-block;
			width: calc(100% - #{$margin} * 2);

			@media screen and (max-width: 415px) {
				width: calc(100% - #{$margin});
			}

			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			border-bottom: solid $black 0.2em;
		}

		.left, .right {
			flex-grow: 1;
			width: 25%;

			span {
				font-size: 1.3em;
				letter-spacing: $heading-letter-spacing-sm;
				font-weight: 200;
				cursor: pointer;
			}

			@media screen and (max-width: 415px) {
				display: none;
			}
		}

		.right {
			text-align: right;
		}

		.left {
			.svg {
				display: inline-block;
				cursor: pointer;
				svg {
					height: $margin * 1;
				}
			}
		}

		.middle {			
			display: flex;
			flex-grow: 2;
			width: 50%;
			justify-content: space-around;
			h2 {
				margin: 0;
				letter-spacing: $heading-letter-spacing-sm;
			}
			li {
				@extend h3;
			}
		}
	}

</style>
