<template>
	<div class="homeslider">
		<div class="prev button" v-html="sliderArrow" @click="slideTo(currentSlide - 1)" ref="prev"></div>
		<div class="frame">
			<ul class="slides" ref="ul">
				<li v-if="slide.image.fields" v-for="slide in slides" class="slide" ref="slide" :style="{backgroundImage: 'url(' + slide.image.fields.file.url + ')'}" @touchstart="onTouchStart($event)" @touchmove="onTouchMove($event)" @touchend="onTouchEnd($event)" @mousedown="onTouchStart($event)" @mousemove="onTouchMove($event)" @mouseup="onTouchEnd($event)">
				</li>
			</ul>
			<ul class="pager">
				<li v-for="(item, index) in $refs.slide" :class="['bullet', index == currentSlide ? 'selected': '']" @click="slideTo(index)"></li>
			</ul>
		</div>
		<div class="next button" v-html="sliderArrow" @click="slideTo(currentSlide + 1)" ref="next"></div>
		<div class="description">
			<h2 ref="descriptionTitle">
				<nuxt-link :to="{name: 'post-name', params:{ name: slides[currentSlide].slug}}">{{ slides[currentSlide].title }}</nuxt-link>
			</h2>
			<p ref="descriptionExcerpt">
				{{ slides[currentSlide].excerpt }}
			</p>
		</div>
	</div>
</template>

<script>

import 'gsap';

import sliderArrow from '~assets/svg/SliderArrow.svg';

export default {

	data() {
		return {
			currentSlide: 0,
			slideWidth: 0,
			sliderArrow: sliderArrow,
			timing: 1.2,
			delta: {
				x: 0,
				y: 0
			},
			newSlide: undefined,
			currentX: 0,
			isTouching: false
		};
	},

	computed: {
		slides: function() {
			return this.$store.getters.featuredPosts;
		},
		size: function() {
			return this.$store.getters.viewportSize;
		}
	},

	watch: {
		'size': function(size) {
			this.init();
		}
	},

	mounted() {
		this.init();
	},

	methods: {
		init() {
			this.slideWidth = this.$refs.slide[0].getBoundingClientRect().width + parseInt(window.getComputedStyle(this.$refs.slide[0], null).getPropertyValue('margin-left')) * 2;
			this.slideTo(this.currentSlide, 0);

			this.setTl();
		},

		afterSlide: function(e) {
			this.currentSlide = e.detail.currentSlide;
		},

		slideTo(i, timing) {
			const duration = timing !== undefined ? timing : this.timing;
			if(i < this.$refs.slide.length && i > -1) {
				let tween = TweenMax.to(this.$refs.ul, duration, {
					x: -this.slideWidth * i,
					ease: Power4.easeInOut,
					onStart: () => {
						this.hideArrow(i, duration);
						this.updateSlide(i, duration);
						this.updateDescription(duration);
					},
					onUpdate: () => {
						if(tween === undefined) {
							return;
						}

						if(tween.progress() > 0.5) {
							this.currentSlide = i;
							if(tween.progress() > 0.8) {
								this.showArrow(i, duration);
							}
						}
					}
				});
			}
		},

		updateSlide(i, duration) {
			TweenMax.to(this.$refs.slide, duration / 3, {
				filter: 'grayscale(1)'
			});

			TweenMax.to(this.$refs.slide[i], duration / 3, {
				filter: 'grayscale(0)',
				delay: duration - duration / 3
			});
		},

		hideArrow(i, duration) {
			if(i == 0) {
				TweenMax.to(this.$refs.prev, duration / 4, {
					x: '-30%',
					opacity: 0,
					scale: '0.85',
					pointerEvents: 'none'
				});
			}

			if(i == this.$refs.slide.length - 1) {
				TweenMax.to(this.$refs.next, duration / 4, {
					x: '30%',
					opacity: 0,
					scale: '0.85',
					pointerEvents: 'none'
				});
			}
		},

		showArrow(i, duration) {
			if(i == 0) {
				TweenMax.to(this.$refs.next, duration / 4, {
					x: 0,
					opacity: 1,
					scale: 1,
					pointerEvents: 'initial'
				});
			}

			if(i == this.$refs.slide.length - 1) {
				TweenMax.to(this.$refs.prev, duration / 4, {
					x: 0,
					opacity: 1,
					scale: 1,
					pointerEvents: 'initial'
				});
			}

			if(i > 0 && i < this.$refs.slide.length - 1) {
				TweenMax.to([this.$refs.prev, this.$refs.next], duration / 4, {
					x: 0,
					opacity: 1,
					scale: 1,
					pointerEvents: 'initial'
				});
			}
		},

		updateDescription(duration) {
			TweenMax.to([this.$refs.descriptionTitle, this.$refs.descriptionExcerpt], duration / 3, {
				opacity: 0
			});

			TweenMax.to([this.$refs.descriptionTitle, this.$refs.descriptionExcerpt], duration / 3, {
				opacity: 1,
				delay: duration - duration / 3
			});
		},

		setTl() {
			this.tl = new TimelineMax({paused: true, onReverseComplete: () => { this.tl.timeScale(1); }});
			this.tl
			.to(this.$el, 1, {
				height: 0,
				margin: 0,
				ease: Power4.easeIn,
				force3D: true
			})
			.staggerTo(this.$refs.slide, 0.7, {
				y: '-100%',
				opacity: 0,
				ease: Power4.easeIn,
				force3D: true
			}, 0.1, 0)
			.to([this.$refs.prev, this.$refs.next], 0.5, {
				y: '-50%',
				opacity: 0,
				ease: Power4.easeIn,
				force3D: true
			}, 0.4)
			.to(this.$refs.descriptionTitle, 0.5, {
				y: -200,
				opacity: 0,
				ease: Power4.easeIn,
				force3D: true
			}, 0.2)
			.to(this.$refs.descriptionExcerpt, 0.5, {
				y: -200,
				opacity: 0,
				ease: Power4.easeIn,
				force3D: true
			}, 0.3);
		},

		show() {
			this.tl.timeScale(1.4);

			this.tl.reverse();
		},

		hide() {
			return new Promise(resolve => {
				this.tl.eventCallback('onComplete', resolve);
				this.tl.play();
			});
		},

		onTouchStart(e) {
			this.touches = e.touches ? e.touches[0] : e;
			this.touchOffset = {
				x: this.touches.pageX,
				y: this.touches.pageY,
				time: Date.now()
			};

			this.isScrolling = undefined;
			this.delta = {};
			this.isTouching = true;
			window.addEventListener('mouseup', this.onTouchEnd);
		},

		onTouchMove(e) {
			if(this.isTouching) {
				this.touches = event.touches ? event.touches[0] : event;
				this.pageX = this.touches.pageX;
				this.pageY = this.touches.pageY;

				this.delta = {
					x: this.pageX - this.touchOffset.x,
					y: this.pageY - this.touchOffset.y
				};

				if(typeof this.isScrolling === 'undefined') {
					this.isScrolling = !!(this.isScrolling || Math.abs(this.delta.x) < Math.abs(this.delta.y));
				}

				if(!this.isScrolling && this.touchOffset && Math.abs(this.delta.x) < this.slideWidth) {
					e.preventDefault();
					this.orientation = this.delta.x > 0 ? 1 : -1;

					const percentage = Math.abs(this.delta.x) / (this.slideWidth / 100);

					TweenMax.set(this.$refs.ul, {
						x: this.currentX - this.slideWidth * percentage / 100 * -this.orientation,
						ease: Power4.easeInOut
					});
				}
			}
		},

		onTouchEnd(e) {
			this.isTouching = false;

			window.removeEventListener('mouseup', this.onTouchEnd);

			if(!this.isScrolling && this.touchOffset) {
				e.preventDefault();

				if(Math.abs(this.delta.x) > 0) {
					const newSlide = this.currentSlide - this.orientation;

					if(Math.abs(this.delta.x) > this.slideWidth / 3 && newSlide > -1 && newSlide < this.$refs.slide.length) {
						this.currentSlide = newSlide;
					}
					this.slideTo(this.currentSlide, 0.2);
					this.currentX = -(this.slideWidth * (this.currentSlide));
					this.newSlide = undefined;
				}
			}
		}
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.homeslider {
		width: 100%;
		text-align: center;
		$slide-width: 60%;
		$slide-height: 55vh;
		overflow: hidden;
		padding-left: $margin;
		padding-right: $margin;
		margin-bottom: $margin * 4;
		transform: translateZ(0);

		@media screen and (max-width: 769px) {
			padding: 0;
		}

		.button {
			position: absolute;
			z-index: 3;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			left: $margin * 4;

			@media screen and (max-width: 1280px) {
				left: $margin * 2;				
			}
			@media screen and (max-width: 1140px) {
				left: $margin;				
			}
			@media screen and (max-width: 769px) {
				display: none;
			}

			height: $slide-height;
			top: 0;
			svg {
				width: 100%;
				cursor: pointer;
			}

			&.prev {
				opacity: 0;
			}

			&.next {
				left: auto; 
				right: $margin * 4;

				@media screen and (max-width: 1280px) {
					right: $margin * 2;
				}
				@media screen and (max-width: 1140px) {
					right: $margin;
				}

				svg {
					transform: rotate(180deg);
				}
			}

			@media screen and (max-width: 769px) {
				height: 70vw;
				left: 5%;
				width: 6vw;
				&.next {
					left: auto; 
					right: 5%;
				}
			}
		}
		.frame {
			position: relative;
			margin: auto;
			white-space: nowrap;
			// max-width: $slide-width;
			overflow: hidden;

			@media screen and (max-width: 769px) {
				// max-width: 100%;
				max-height: 66vw;
				margin: 0;
			}

			.slides {
				display: inline-block;
				height: 100%;
				width: calc(100%);
				.slide {
					$slide-margin: 5rem;
					position: relative;
					display: inline-block;
					width: calc(100% - 2 * #{$slide-margin});
					height: $slide-height;

					@media screen and (max-width: 769px) {
						height: 70vw;
					}

					overflow: hidden;
					margin: 0 $slide-margin;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center center;

					@media screen and (max-width: 769px) {
						width: 100%;
						margin: 0;
					}
				}
			}
		}

		.description {
			position: relative;
			h2 {
				font-size: 3em;
				letter-spacing: $heading-letter-spacing-sm;
				margin-left: auto;
				margin-right: auto;

				@media screen and (max-width: 415px) {
					margin-left: $margin / 2;
					margin-right: $margin / 2;
				}

				margin-bottom: 0;
				max-width: 60rem;
				display: block;
			}
			p {
				font-size: 1.2em;
				display: inline-block;
				max-width: 65rem;
				font-family: 'Avenir';
			}
		}
	}

</style>
