<template>
	<div class="post-slider" v-if="$store.getters.currentPost.medias || $store.getters.currentPost.image">
		<div v-if="$store.getters.currentPost.medias" class="button previous" v-html="sliderArrow" @click="slideTo(currentSlide - 1)" ref="prev"></div>
		<div class="frame">
			<ul class="slides">
				<template v-if="$store.getters.currentPost.medias">
					<li v-for="item in $store.getters.currentPost.medias" class="slide">
						<div v-if="item.fields.file.contentType.includes('image')" class="img" :style="{backgroundImage: 'url(' + item.fields.file.url + ')'}"></div>
						<div v-else-if="item.fields.file.contentType.includes('video')">
							<video ref="videos">
								<source :src="item.fields.file.url" type="video/mp4">
							</video>
						</div>
					</li>
				</template>
				<template v-else-if="$store.getters.currentPost.image.fields">
					<li class="slide">
						<div v-if="$store.getters.currentPost.image.fields.file.contentType.includes('image')" class="img" :style="{backgroundImage: 'url(' + $store.getters.currentPost.image.fields.file.url + ')'}"></div>
					</li>
				</template>
			</ul>
			<ul class="pager">
				<li v-for="(item, index) in $store.getters.currentPost.medias" :class="['bullet', index == currentSlide ? 'selected': '']" @click="slideTo(index)"></li>
			</ul>
		</div>
		<div v-show="$store.getters.currentPost.medias && $store.getters.currentPost.medias.length > 1" class="button next" v-html="sliderArrow" @click="slideTo(currentSlide + 1)" ref="next"></div>
	</div>
</template>

<script>


import sliderArrow from '~assets/svg/SliderArrow.svg';

import '!!css-loader!plyr/dist/plyr.css';

export default {

	data() {
		return {
			currentSlide: 0,
			sliderArrow: sliderArrow,
			timing: 0.8
		};
	},

	mounted() {
		if(this.$store.getters.currentPost.medias) {
			this.$el.addEventListener('before.lory.slide', this.beforeSlide);
			this.$el.addEventListener('after.lory.slide', this.afterSlide);
			const lory = require('lory.js').lory;
			const Plyr = require('plyr');
			this.slider = lory(this.$el, {
				classNameFrame: 'frame',
				classNameSlideContainer: 'slides',
				enableMouseEvents: true,
				infinite: 0
			});

			this.toggleArrow(this.currentSlide);

			if(this.$refs.videos) {
				this.$refs.videos.forEach(v => {
					Plyr.setup(v);
				});
			}
		}
	},

	methods: {
		beforeSlide(e) {
		},

		afterSlide(e) {
			this.currentSlide = e.detail.currentSlide;
			this.toggleArrow(this.currentSlide);
		},

		slideTo(i) {
			if(i > -1 && i < this.$store.getters.currentPost.medias.length) {
				this.slider.slideTo(i);
				this.currentSlide = i;
			}
		},

		toggleArrow(i) {
			if(i == 0) {
				TweenLite.to(this.$refs.prev, this.timing / 4, {
					x: '-30%',
					opacity: 0,
					scale: '0.85',
					pointerEvents: 'none'
				});
				TweenLite.to(this.$refs.next, this.timing / 4, {
					x: 0,
					opacity: 1,
					scale: 1,
					pointerEvents: 'initial'
				});
			} else if(i == this.$store.getters.currentPost.medias.length - 1) {
				TweenLite.to(this.$refs.next, this.timing / 4, {
					x: '30%',
					opacity: 0,
					scale: '0.85',
					pointerEvents: 'none'
				});
				TweenLite.to(this.$refs.prev, this.timing / 4, {
					x: 0,
					opacity: 1,
					scale: 1,
					pointerEvents: 'initial'
				});
			} else {
				TweenLite.to([this.$refs.prev, this.$refs.next], this.timing / 4, {
					x: 0,
					opacity: 1,
					scale: 1,
					pointerEvents: 'initial'
				});
			}
		}
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.post-slider {
		width: $article-width;
		height: 45vw;
		max-height: 75vh;
		margin: auto;
		position: relative;
		
		@media screen and (max-width: 769px) {
			width: 100%;
			padding-left: $margin;
			padding-right: $margin;
		}

		@media screen and (max-width: 415px) {
			padding: 0;
			height: 60vw;
		}

		.button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 2rem;
			transform-origin: center;
			cursor: pointer;
			&.previous {
				right: 105%;
			}
			&.next {
				left: 105%;
				transform: translateY(-50%) rotate(180deg);
			}
			@media screen and (max-width: 769px) {
				display: none;
			}
		} 

		.frame {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			white-space: nowrap;
			.slides {
				display: inline-block;
				height: 100%;
				width: 100%;
				.slide {
					position: relative;
					display: inline-block;
					width: 100%;
					height: 100%;
					.img, .plyr, .plyr--setup {
						display: inline-block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
					}
					h3 {
						color: white;
						font-size: 3em;
					}
				}
			}
		}

		.pager {
			@media screen and (min-width: 769px) {
				display: none;
			}
			.bullet {
				border-color: white;
				&.selected {
					background-color: white;
				}
			}
		}
	}

</style>
