<template>
	<div class="socials">
		<template v-if="share">
			<a :href="'https://www.facebook.com/sharer/sharer.php?u=' + url" target="_blank" class="svg" v-html="fbIcon"></a>
			<a :href="'https://www.linkedin.com/shareArticle?mini=true&url=' + url + '&title=' + $store.getters.currentPost.title + '&summary=&source='" target="_blank" class="svg" v-html="lkdIcon"></a>
			<a :href="'https://twitter.com/home?status=' + url" target="_blank" class="svg" v-html="twtIcon"></a>
		</template>
		<template v-else-if="this.links.length">
			<a :href="links.find(l => l.title == 'Facebook').url" target="_blank" class="svg" v-html="fbIcon"></a>
			<a :href="links.find(l => l.title == 'Instagram').url" target="_blank" class="svg" v-html="igmIcon"></a>
			<a :href="links.find(l => l.title == 'Linkedin').url" target="_blank" class="svg" v-html="lkdIcon"></a>
			<a :href="links.find(l => l.title == 'Twitter').url" target="_blank" class="svg" v-html="twtIcon"></a>
		</template>
	</div>
</template>

<script>

import fbIcon from '~assets/svg/fbIcon.svg';
import lkdIcon from '~assets/svg/lkdIcon.svg';
import igmIcon from '~assets/svg/igmIcon.svg';
import twtIcon from '~assets/svg/twtIcon.svg';

export default {

	data() {
		return {
			fbIcon: fbIcon,
			twtIcon: twtIcon,
			igmIcon: igmIcon,
			lkdIcon: lkdIcon
		};
	},

	computed: {
		url: function() {
			return this.$store.getters.href;
		},
		links: function() {
			return this.$store.getters.links.map(link => link.fields);
		}
	},

	props: {
		'share': {
			default: false
		}
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.socials {

		.svg {
			display: inline-block;
			margin: 0 1em;
			svg {
				height: 2.3em;
				width: 2.3em;
				stroke-width: 1px;
			}
		}

		@media screen and (max-width: 415px) {
			display: flex;
			width: 100%;
			justify-content: space-between;
			.svg {
				margin: 0;
				width: 13%;
				svg {
					width: 100%;
					height: auto;
				}
			}
		}
	}

</style>
