<template>
	<div class="tagsOverlay overlay">
		<div class="top" v-html="CloseButton" @click="close"></div>
		<div class="cloudWrapper">
			<h3>Suggested topics</h3>
			<ul class="tags">
				<li v-for="tag in tags" class="tag">
					<nuxt-link :to="{name: 'tags-tag', params:{tag: tag.name}}">{{ tag.name }}</nuxt-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>

import 'gsap';
import CloseButton from '~assets/svg/closeButton.svg';

export default {

	data() {
		return {
			CloseButton: CloseButton
		};
	},

	computed: {
		tags: function() {
			return this.$store.getters.tags;
		}
	},

	created() {
	},

	mounted() {
	},

	methods: {
		close() {
			this.$parent.closeTags();
		}
	},

	components: {
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	.tagsOverlay {
		.cloudWrapper {
			display: flex;
			position: relative;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.tags {
				max-width: 50rem;
				text-align: center;
				.tag {
					display: inline-block;
					background-color: white;
					padding: 0.8em 1em;
					border: solid 1px $black;
					margin: 1em;
				}	
			}
		}
	}

</style>
