@font-face {
    font-family: 'Novecento';
    src: url('/fonts/novecentowide-bold-webfont.woff2') format('woff2'),
         url('/fonts/novecentowide-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Novecento';
    src: url('/fonts/novecentowide-book-webfont.woff2') format('woff2'),
         url('/fonts/novecentowide-book-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Novecento';
    src: url('/fonts/novecentowide-demibold-webfont.woff2') format('woff2'),
         url('/fonts/novecentowide-demibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Novecento';
    src: url('/fonts/novecentowide-medium-webfont.woff2') format('woff2'),
         url('/fonts/novecentowide-medium-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Zurich';
    src: url('/fonts/tt0180m_-webfont.woff2') format('woff2'),
         url('/fonts/tt0180m_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir-book.woff2') format('woff2'),
         url('/fonts/avenir-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon Milk';
    src: url('/fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('/fonts/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}