.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.noscroll {
	overflow: hidden;
}

.overlay {
	display: none;
	opacity: 0;
	transform: scale(0.95);
	background-color: rgba(255,255,255,0.95);
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	height: 100vh;
	right: 0;
	padding: $margin;
	overflow: scroll;
	
	.top {
		padding: $margin * 1.5 $margin;
		text-align: right;
		position: absolute;
		z-index: 1;
		top:0;
		right: 0;
		cursor: pointer;
		svg {
			height: 2em;
			width: 2em;
		}
	}
}