@import './variables.scss';
@import './helpers';
@import './fonts';

html {
	min-height: 100%;
	width: 100%;
}

body {
	background-color: white;
	font-size: 16px;
	min-height: 100%;
	width: 100%;
	font-family: 'Novecento';
	font-weight: 100;

	color: $main-color;
	@media screen and (max-width: 1400px) {
		font-size: 14px;
	}
	@media screen and (max-width: 1000px) {
		font-size: 12px;
	}
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.8em;
	font-family: 'Avenir';
}

a {
	color: $main-color;
	text-decoration: none;
}

blockquote {
	position: relative;
	p {
		font-style: italic;
	}
	&:before {
		content: '';
		border-left: solid 6px $grey;
		position: absolute;
		right: 101%;
		top: 52%;
		height: 85%;
		transform: translateY(-50%);
	}

	@media screen and (max-width: 415px) {
		margin-left: 1em;
		margin-right: 0;
		&:before {
			right: 105%;
			height: 100%;
			transform: translateY(-52%);
		}
	}
}

h1, h2, h3 {
	font-weight: 500;
	letter-spacing: $heading-letter-spacing-lg;
}

h3 {
	font-size: 1.5rem;
	letter-spacing: $heading-letter-spacing-sm;
	line-height: 1.5em;
}

.screen {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}

.block {
	margin: auto;
	white-space: normal;
	width: 66%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	letter-spacing: $heading-letter-spacing-sm;
}

.bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	svg {
		min-width: 100%;
		min-height: 100%;
	}
	opacity: 0.2;
}

.router-link-active {
	cursor: default;
}

#splash {
	height: 100vh;
	position: relative;

	#homeLogo {
		h2 {
			font-weight: medium;
			font-size: 2vw;
			margin-top: 2em;
		}
	}
}

.pager {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	.bullet {
		display: inline-block;
		width: 0.7em;
		height: 0.7em;
		border-radius: 50%;
		border: solid $black 0.15em;
		margin: 0.8em;
		transition: background 0.2s;
		cursor: pointer;
		&.selected {
			background: $black;
		}
	}

	bottom: $margin / 2;
	width: 90vw;
	overflow: visible;
	white-space: pre-wrap;
	@media screen and (min-width: 769px) {
		display: none;
	}
	.bullet {
		border-color: white;
		margin-bottom: 0;
		&.selected {
			background-color: white;
		}
	}
}

.product--name {
	font-family: 'Lemon Milk';
	font-weight: 100;
	letter-spacing: 0.25em;
}