$main-color: #231F20;

$margin: 2rem;

$grey: #F2F2F2;

$black: #231F20;

$colors: (
	learn: rgb(236, 106, 106),
	drive: rgb(0, 118, 198),
	think: rgb(99, 186, 133),
	iwd: #a5a5a5,
	about: rgb(153,164,174),
	display: rgb(1,195,255),
	network: rgb(0,134,255),
	explore: rgb(0,71,186),
	training-programs: rgb(237, 100, 87),
	eschool: rgb(190, 49, 81),
	market-studies: rgb(161, 218, 137),
	brand-content: rgb(119, 193, 99),
	executive-services: rgb(0, 115, 92),
	red: #EA6A69,
	light-grey: #EEEEEE
);

$heading-letter-spacing-lg: 0.5em;
$heading-letter-spacing-sm: 0.13em;

$article-width: 75%;
$article-body-maxwidth: 80rem;