<template>
	<div id="app">
		<headerComp/>
		<nuxt/>
		<footerComp/>
	</div>
</template>

<script>
import Header from '~components/Header.vue';
import Footer from '~components/Footer.vue';

export default {

	mounted() {
		this.$store.dispatch('updateViewportSize', {width: window.innerWidth, height: window.innerHeight});

		window.addEventListener('resize', this.onResize);
	},

	methods: {
		onResize() {
			const size = {
				height: window.innerHeight,
				width: window.innerWidth
			};
			this.$store.dispatch('updateViewportSize', size);
		}
	},

	components: {
		'headerComp': Header,
		'footerComp': Footer
	}

};

</script>

<style lang="scss">
	@import '~assets/stylesheets/variables.scss';

	#app {
		height: 100%;
		width: 100%;
	}
</style>
