<template>
	<div id="home">
		<homeslider-comp v-if="$store.getters.featuredPosts.length > 0 && showSlider" ref="slider"></homeslider-comp>
		<div class="content">
			<ul class="categories" ref="categories">
				<li v-for="(category, index) in $store.getters.categories" :class="['category', index < $store.getters.categories.length - 1 ? 'break' : '', category.name == $store.getters.currentFilter.name || $store.getters.currentFilter.name == false ? 'selected' : '']">
					<nuxt-link :to="{name: 'categories', params:{ category: category.name }}">{{ category.name }}</nuxt-link>
				</li>
			</ul>
			<grid-comp></grid-comp>	
		</div>
	</div>
</template>

<script>

import mainLogo from '~assets/svg/mainLogoTitle.svg';
import wonderLogo from '~assets/svg/wonderLogo.svg';

import Homeslider from '~components/Homeslider';
import Grid from '~components/Grid';

import {TweenMax} from 'gsap';

import { getAll } from '../core/Contentful';

export default {

	async fetch({store, route, params}) {
		if(!store.getters.loaded) {
			await getAll(store);
		} else {
			await new Promise(resolve => {
				resolve(true);
			});
		}

		store.dispatch('resetCurrentPosts');
		store.dispatch('resetCurrentFilter');
		if(route.name == 'categories') {
			store.dispatch('setCurrentFilter', {type: 'category', name: params.category});
		}
		store.dispatch('loadMoreCurrentPosts');
	},

	name: 'home',

	data() {
		return {
			mainLogo: mainLogo,
			wonderLogo: wonderLogo,
			showSlider: false
		};
	},

	computed: {
		posts: function() {
			return this.$store.getters.currentPosts;
		}
	},

	mounted() {
		if(this.$route.name == 'index') {
			this.showSlider = true;
			this.$nextTick(() => {
				TweenMax.set(this.$refs.categories, {
					y: -parseInt(getComputedStyle(this.$refs.slider.$el).getPropertyValue('margin-bottom')) / 2
				});
			});
		}
	},

	watch: {
		'$route.name': function(val) {
			if(val != 'index' && !this.$isServer) {
				if(this.$refs.slider) {
					this.$refs.slider.hide()
					.then(() => {
						this.showSlider = false;
					});

					let tl = new TimelineMax({paused: true});

					const ScrollToPlugin = require('gsap/ScrollToPlugin');
					if(ScrollToPlugin) {
						tl.to(this.$refs.categories, 1, {
							y: 0,
							ease: Power4.easeInOut,
							force3D: true
						}, 0).to(window, 1, {
							scrollTo: 0,
							ease: Power4.easeInOut,
							force3D: true
						}, 0);
					}
					tl.play();

					TweenMax.set(this.$refs.categories, {
						y: 0
					});
				}
			} else {
				this.showSlider = true;
				this.$nextTick(() => {
					TweenMax.set(this.$refs.categories, {
						y: -parseInt(getComputedStyle(this.$refs.slider.$el).getPropertyValue('margin-bottom')) / 2
					});
				});
			}
		}
	},

	components: {
		'homeslider-comp': Homeslider,
		'grid-comp': Grid
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	#home {
		width: 100%;
		min-height: 100%;
		position: relative;
		
		.content {
			padding: $margin;
			padding-top: 0;
			text-align: center;

			.categories {
				transform: translateZ(0);
				margin: $margin * 2 auto $margin * 2 auto;
				margin-top: 0;
				margin-bottom: 0;

				@media screen and (max-width: 769px) {
					margin: $margin auto;
				}

				@media screen and (max-width: 415px) {
					margin: 0 auto;
				}

				.category {
					display: inline-flex;
					align-items: center;
					@extend h3;
					font-size: 1.7em;
					margin-bottom: $margin;


					@media screen and (max-width: 415px) {
						display: flex;
						width: 100%;
						justify-content: center;
					}

					a {
						position: relative;
						line-height: 1.2em;
						color: $grey;
						transition: all 0.1s;

						&:after {
							content: '';
							transition: all 0.1s;
							position: absolute;
							top: 100%;
							left: 0%;
							width: calc(100% - 0.25em);
							border-bottom: solid 2px $grey;
						}
					}

					&.selected, &:hover {
						a {
							color: $black;
							&:after {
								border-bottom: solid 2px $black;
							}
						}
					}

					&.break {
						&:after {
							margin: auto 0.2em;
							display: inline-block;
							border-bottom: solid 2px $black;
							transform: rotate(-55deg);
							width: 2.5em;

							@media screen and (min-width: 415px) {
								content: '';
							}
						}
					}
				}
			}
		}
			
	}

</style>
