<template>
	<div id="tags">
		<div class="content">
			<h3>Posts related to <em>{{ $store.getters.currentFilter.name }}</em></h3>
			<grid-comp></grid-comp>	
		</div>
	</div>
</template>

<script>

import mainLogo from '~assets/svg/mainLogoTitle.svg';
import wonderLogo from '~assets/svg/wonderLogo.svg';

import Grid from '~components/Grid';

import { getAll } from '../../core/Contentful';

import 'gsap';

export default {

	async fetch({store, params}) {
		if(!store.getters.loaded) {
			await getAll(store);
		} else {
			await new Promise(resolve => {
				resolve(true);
			});
		}

		store.dispatch('resetCurrentPosts');
		store.dispatch('setCurrentFilter', {type: 'tags', name: params.tag});
		store.dispatch('loadMoreCurrentPosts');
	},

	name: 'home',

	data() {
		return {
			mainLogo: mainLogo,
			wonderLogo: wonderLogo
		};
	},

	computed: {
		posts: function() {
			return this.$store.getters.currentPosts;
		}
	},

	created() {
		this.displayedPosts = this.posts;
	},

	components: {
		'grid-comp': Grid
	}
};

</script>

<style lang="scss">
	@import '~assets/stylesheets/main.scss';

	#tags {
		width: 100%;
		min-height: 100%;
		position: relative;
		
		.content {
			padding: $margin;
			padding-top: 0;
			text-align: center;
			h3 {
				margin-top: 0;
			}
		}
			
	}

</style>
